<div class="row justify-content-center mt-5">
  <div class="col-sm-7">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre curso</th>
          <th>Maestro</th>
          <th colspan="3" class="text-center">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.teacher.name %></td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <td><%= link_to 'Mostrar', course, :class => "btn btn-primary text-white" %></td>
              <td><%= link_to 'Editar', edit_course_path(course), :class => "btn btn-success text-white" %></td>
              <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger text-white" %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="text-right white-text">
  <%= link_to 'Crear curso', new_course_path, class: "btn btn-primary text-white" %>
</div>