<p id="notice"><%= notice %></p>

<h1 class="text-center mb-4">Información del curso </h1>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
          <div class="header">  
              <%= @course.name %>
          </div>
             <p>
              <strong>Maestro:</strong>
              <%= @course.user.name %>
            </p>
            <p>
              <strong>Descripción general del curso:</strong>
              <%= @course.description %>
            </p>
      </div>
    </div>
  </div>
</div>

<div class="btn-group text-right">
  <%= link_to 'Edit', edit_course_path(@course), class: "btn" %>
  <%= link_to 'Back', courses_path, class: "btn" %>
</div>
