<p id="notice"><%= notice %></p>

<h1 class="text-center mb-4">Información del curso </h1>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
          <div class="header">  
              <%= @course.name %>
          </div>
             <p>
              <strong>Maestro:</strong>
              <%= @course.teacher.name %>
            </p>
            <p>
              <strong>Descripción general del curso:</strong>
              <%= @course.description %>
            </p>
      </div>
    </div>

    <div class="card mt-5">
      <div class="card-body text-center">
          <%= link_to "Ir al curso", videos_course_url(@course) %>
      </div>
    </div>
  </div>
</div>
