<header class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom-light" style="background-color: #F7F7F7 !important">
    <div class="container-fluid">
        <div class="text-right">
            <%= link_to root_path  do %>
                <h2>Holinet Education</h2>
            <%end%>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <% if !current_student.nil? %>
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= courses_path %>">Cursos</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto"> 
                    <%= link_to('Logout', destroy_student_session_path, method: :delete, :class => "nav-link") %>        
                </ul>
            <%end%>

            <% if !current_teacher.nil? %>
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= courses_path %>">Cursos</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto"> 
                    <%= link_to('Logout', destroy_teacher_session_path, method: :delete, :class => "nav-link") %>        
                </ul>
            <%end%>
            
            <% if !current_school.nil? %>
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= courses_path %>">Cursos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="<%= teachers_path %>">Maestros</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto"> 
                    <%= link_to('Logout', destroy_school_session_path, method: :delete, :class => "nav-link") %>        
                </ul>
            <%end%>
        </div>  
    </div>
</header>
<hr>